<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
    <link rel="stylesheet" href="/static/stylesheet.css">
</head>
<body>
    <h1>Let's Play A Game!</h1>
    <form action="/madlibs" method="POST">
        Person: <input type="text" name="person"><br>
        Color: <select name="color">
            <option value="red">Red</option>
            <option value="yellow">Yellow</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
        </select><br>
        Noun: <input type="text" name="noun"><br>
        Adjective: <input type="text" name="adjective"><br>
        Vehicle: <input type="radio" name="vehicle" value="skateboard">Skateboard</input>
        <input type="radio" name="vehicle" value="bike">Bike</input>
        <input type="radio" name="vehicle" value="segway">Segway</input></br>
        Animals: <input class="animalImage" type="checkbox" name="animals" value="dogs"><img src="/static/dog.jpg"></input>
        <input class="animalImage" type="checkbox" name="animals" value="dolphins"><img src="/static/dolphin.jpg"></input>
        <input class="animalImage" type="checkbox" name="animals" value="elephants"><img src="/static/elephant.jpg"></input>
        <input class="animalImage" type="checkbox" name="animals" value="whales"><img src="/static/whale.jpg"></input><br>
        <input type="submit">
    </form>
</body>
</html>