<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
</head>
<body>
    <form action="/madlibs" method="POST">
        Person: <input type="text" name="person"><br>
        Color: <select name="color">
            <option value="red">Red</option>
            <option value="yellow">Yellow</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
        </select><br>
        Noun: <input type="text" name="noun"><br>
        Adjective: <input type="text" name="adjective"><br>
        Vehicle: <input type="radio" name="vehicle" value="skateboard">Skateboard</input>
        <input type="radio" name="vehicle" value="bike">Bike</input>
        <input type="radio" name="vehicle" value="segway">Segway</input></br>
        Animals: <input type="checkbox" name="animals" value="dogs">Dogs</input>
        <input type="checkbox" name="animals" value="dolphins">Dolphins</input>
        <input type="checkbox" name="animals" value="elephants">Elephants</input>
        <input type="checkbox" name="animals" value="whales">Whales</input><br>
        <input type="submit">
    </form>
</body>
</html>